*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  
}

:root{
    --viola: #8a2be2;
    --branco: #fafafa;
    --vermelho: #ff0000;
    --vermelhoForte : #b82525;
}

body{
    font-family: "Italiana", sans-serif;
}
html{
    scroll-behavior: smooth;
}
.nav{
    background-color: var(--viola);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style:none;
    margin-right: 20px;
}
.nav a{
    text-decoration: none;
    color: var(--branco);
    padding: 20px;
    font-size: 20px;
    margin: -5px;
}
.nav-list a:hover{
    color:var(--vermelho)
}

.nav p{
    font-size: 25px;
    margin-right: 360px;
    padding: 10px;
    color: var(--vermelho);
    font-weight: bold;
}

.titulo{
    background-image: url(./images/23987be1ee5f006392e830d7b7117b20.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center; 
    display: flex;
}

.titulo h1{
    font-family: "Italiana", sans-serif;
    font-weight: bold;
    color: var(--branco);
}
.titulo p{
    font-family: "Italiana", sans-serif;
    
}